

```
# This is formatted as code
```

# New Section

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('/content/Demo Data DSBDA.xlsx')
df

,Sr. no.,Roll No,Name of the Student,DM,FDS,OOP,CG,DELD,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,1,SCOA01,ALISHA SHEIKH,24,27,20,15,16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,SCOA02,SOHAM JAYYANNTH DESHMUKKH,16,9,9,AB,AB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,SCOA03,SHELAR NEHA NILESH,20,23,16,15,15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,SCOA04,RIYA JAWALE,18,14,11,8,15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,SCOA05,NARHE VARSHA RAOSAHEB,20,24,16,24,20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Maximum marks,NaN,NaN,24,27,25,29,27,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321`
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,Internal Exam Coordinator,NaN,NaN,NaN,NaN,HOD,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isna().sum()

Sr. no.                 6
 Roll No               14
Name of the Student    15
DM                      6
FDS                     6
OOP                     6
CG                      5
DELD                    6
Unnamed: 8             82
Unnamed: 9             82
Unnamed: 10            82
Unnamed: 11            82
Unnamed: 12            82
Unnamed: 13            82
Unnamed: 14            82
Unnamed: 15            82
Unnamed: 16            82
Unnamed: 17            82
Unnamed: 18            82
Unnamed: 19            82
Unnamed: 20            82
Unnamed: 21            82
Unnamed: 22            82
Unnamed: 23            80
dtype: int64

In [ ]:
df.replace(to_replace=np.nan, value=2,inplace=True)

In [ ]:
df.head()

,Sr. no.,Roll No,Name of the Student,DM,FDS,OOP,CG,DELD,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,1,SCOA01,ALISHA SHEIKH,24,27,20,15,16,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
1,2,SCOA02,SOHAM JAYYANNTH DESHMUKKH,16,9,9,AB,AB,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
2,3,SCOA03,SHELAR NEHA NILESH,20,23,16,15,15,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
3,4,SCOA04,RIYA JAWALE,18,14,11,8,15,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
4,5,SCOA05,NARHE VARSHA RAOSAHEB,20,24,16,24,20,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2

In [ ]:
df['gender']=np.random.choice(['Male','Female'],size=len(df))

In [ ]:
df['gender'].map({'Male':0,'Female':1})

0     0
1     0
2     1
3     0
4     1
     ..
77    0
78    1
79    1
80    1
81    0
Name: gender, Length: 82, dtype: int64